body {
  margin-top: 170px;
  padding: 0px;
  font-family: Helvetica, sas-serif;
  color: #111;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
}

h2,
h3 {
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
}

.header-title {
  font-size: var(--font-xl);
}

.p-bio {
  font-size: var(--font-sm);
  line-height: 1.9;
  text-align: justify;
}

.simbolo-japones-bio {
  text-decoration: none;
  color: #000;
}

.title-cena {
  margin-top: 550px;
  font-size: var(--font-l);
  margin-bottom: 4rem;
}

.galery {
  margin-top: 550px;
  display: flex;
  flex-direction: column;
}

.galery img {
  width: 600px;
  height: 400px;
}

.container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15rem;
}

.container-img-2 {
  line-height: 2;
}

.description {
  margin-top: 2rem;
  font-size: var(--font-sm);
  max-width: 600px;
}

.subtitle {
  font-size: var(--font-sm);
}

.cv-list {
  margin-top: 550px;
  font-size: var(--font-sm);
  list-style: none;
  line-height: 1.9;
  text-align: justify;
}

.title-performer-diretor-diretor-corporal {
  margin-top: 550px;
  font-size: var(--font-l);
  margin-bottom: 4rem;
}

.contact {
  line-height: 1.9;
}

.contact-list {
  list-style: none;
  font-size: var(--font-sm);
  text-align: start;
}

.li-footer {
  margin-bottom: 4rem;
}

.link-footer {
  text-decoration: none;
  color: #000;
}

.top a {
  text-decoration: none;
  text-align: center;
  font-size: var(--font-sm);
  color: #000;
}

.footer {
  margin-top: 200px;
  font-size: var(--font-xsm);
  text-align: center;
  color: #b2b2b2;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .container {
    padding: 20px;
    gap: 9rem;
    margin-top: 70px;
  }
}

@media (max-width: 570px) {
  .footer {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 645px) {
  .galery img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .top {
    margin-top: 100px;
  }
}
