body {
  font-family: Helvetica, sas-serif;
  color: #111;
  margin: 0;
  padding: 0;
  margin-top: 160px;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
}

h2,
h3 {
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
}

.header-title {
  font-size: var(--font-xl);
  margin: 0 auto;
  max-width: 700px;
}

.p-bio {
  font-size: var(--font-sm);
  line-height: 1.9;
  text-align: justify;
  max-width: 1200px;
  margin: 0 auto;
}

.title-cena {
  font-size: var(--font-l);
  margin: 34.375rem auto 4rem auto;
  max-width: 1200px;
}

.subtitle {
  font-size: var(--font-sm);
}

.cv-list {
  max-width: 1200px;
  margin: 400px auto 0 auto;
  font-size: var(--font-sm);
  list-style: none;
  line-height: 1.9;
  text-align: justify;
}

.title-performer-diretor-diretor-corporal {
  max-width: 1200px;
  margin: 400px auto 0 auto;
  font-size: var(--font-l);
  margin-bottom: 4rem;
}

.contact {
  line-height: 1.9;
}

.contact-list {
  list-style: none;
  font-size: var(--font-sm);
  text-align: start;
  max-width: 1200px;
  margin: 0px auto 0 auto;
}

.li-footer {
  margin-bottom: 4rem;
}

.link-footer {
  text-decoration: none;
  color: #000;
}

.top a {
  text-decoration: none;
  text-align: center;
  font-size: var(--font-sm);
  color: #000;
}

.footer {
  margin-top: 250px;
  font-size: var(--font-xsm);
  text-align: center;
  color: #b2b2b2;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  body {
    margin-top: 0px;
  }
  .container {
    gap: 4rem;
    margin-top: 150px;
  }
  .header {
    padding: 20px;
  }
  .bio {
    padding: 20px;
  }
  .galery {
    padding: 20px;
  }
  .cv-list {
    padding: 20px;
    margin-top: 300px;
  }
  .contact {
    padding: 20px;
  }
  .top {
    margin-top: 100px;
  }
}

@media (max-width: 645px) {
  .galery img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 570px) {
  .footer {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
